//-----------------------------------------------------------------
// Flags Resources
// RC Source - Flags.rc
//-----------------------------------------------------------------

//-----------------------------------------------------------------
// Include Files
//-----------------------------------------------------------------
#include "Resource.h"

//-----------------------------------------------------------------
// Icons
//-----------------------------------------------------------------
IDI_FLAGS          ICON         "res\\Flags.ico"
IDI_FLAGS_SM       ICON         "res\\Flags_sm.ico"

//-----------------------------------------------------------------
// Bitmaps
//-----------------------------------------------------------------
IDB_BG_WORLD          BITMAP       "res\\backgrounds\\blue_green_world_map.bmp"
IDB_BG_USSR           BITMAP       "res\\backgrounds\\warehouse.bmp"
IDB_CS_SAM            BITMAP       "res\\objects\\Character_Sam.bmp"
IDB_F_ANTARCTICA      BITMAP       "res\\flags\\antarctica.bmp"
IDB_F_AFGHANISTAN     BITMAP       "res\\flags\\afghanistan.bmp"
IDB_F_BRITAIN         BITMAP       "res\\flags\\britain.bmp"
IDB_F_CHINA           BITMAP       "res\\flags\\china.bmp"
IDB_F_CONGO           BITMAP       "res\\flags\\congo.bmp"
IDB_F_FRANCE          BITMAP       "res\\flags\\france.bmp"
IDB_F_PANAMA          BITMAP       "res\\flags\\panama.bmp"
IDB_F_USA             BITMAP       "res\\flags\\usa.bmp"
IDB_F_WHITE           BITMAP       "res\\flags\\white.bmp"
IDB_F_USSR            BITMAP       "res\\flags\\ussr.bmp"
IDB_O_BOMB            BITMAP       "res\\objects\\bomb.bmp"
IDB_BG_BRITAIN        BITMAP       "res\\backgrounds\\colony.bmp"
IDB_O_SAM             BITMAP       "res\\objects\\Sam_shoot.bmp"
IDB_CS_FIGHTER        BITMAP       "res\\objects\\fighter_walk.bmp"
IDB_CS_SHOOT          BITMAP       "res\\objects\\fighter_shoot.bmp"
IDB_CS_FLAG           BITMAP       "res\\objects\\fighter_flag.bmp"
IDB_CS_DEAD           BITMAP       "res\\objects\\fighter_dead.bmp"
IDB_BG_AFGHANISTAN    BITMAP       "res\\backgrounds\\desert.bmp"
IDB_BG_ANTARCTICA     BITMAP       "res\\backgrounds\\battle.bmp"
IDB_BG_PANAMA         BITMAP       "res\\backgrounds\\river.bmp"
IDB_BG_CHINA          BITMAP       "res\\backgrounds\\wall.bmp"
IDB_CS_PLAYER         BITMAP       "res\\backgrounds\\player.bmp"
IDB_CS_OPPONENT       BITMAP       "res\\backgrounds\\oponent.bmp"
IDB_O_PORCELAIN       BITMAP       "res\\objects\\porcelain.bmp"
IDB_O_SILK            BITMAP       "res\\objects\\silk.bmp"
IDB_O_FIREWORKS       BITMAP       "res\\objects\\fireworks.bmp"
IDB_O_INDICATOR       BITMAP       "res\\objects\\indicator.bmp"
IDB_S_ONE             BITMAP       "res\\objects\\sudoku\\sudoku1.bmp"
IDB_S_TWO             BITMAP       "res\\objects\\sudoku\\sudoku2.bmp"
IDB_S_THREE           BITMAP       "res\\objects\\sudoku\\sudoku3.bmp"
IDB_S_FOUR            BITMAP       "res\\objects\\sudoku\\sudoku4.bmp"
IDB_S_FIVE            BITMAP       "res\\objects\\sudoku\\sudoku5.bmp"
IDB_S_SIX             BITMAP       "res\\objects\\sudoku\\sudoku6.bmp"
IDB_S_SEVEN           BITMAP       "res\\objects\\sudoku\\sudoku7.bmp"
IDB_S_EIGHT           BITMAP       "res\\objects\\sudoku\\sudoku8.bmp"
IDB_S_NINE            BITMAP       "res\\objects\\sudoku\\sudoku9.bmp"
IDB_S_ONEY            BITMAP       "res\\objects\\sudoku\\sudoku1y.bmp"
IDB_S_TWOY            BITMAP       "res\\objects\\sudoku\\sudoku2y.bmp"
IDB_S_THREEY          BITMAP       "res\\objects\\sudoku\\sudoku3y.bmp"
IDB_S_FOURY           BITMAP       "res\\objects\\sudoku\\sudoku4y.bmp"
IDB_S_FIVEY           BITMAP       "res\\objects\\sudoku\\sudoku5y.bmp"
IDB_S_SIXY            BITMAP       "res\\objects\\sudoku\\sudoku6y.bmp"
IDB_S_SEVENY          BITMAP       "res\\objects\\sudoku\\sudoku7y.bmp"
IDB_S_EIGHTY          BITMAP       "res\\objects\\sudoku\\sudoku8y.bmp"
IDB_S_NINEY           BITMAP       "res\\objects\\sudoku\\sudoku9y.bmp"
IDB_S_MASK            BITMAP       "res\\objects\\sudoku\\sudoku_mask.bmp"
IDB_BG_CLOUD          BITMAP       "res\\backgrounds\\clouds.bmp"
IDB_O_BOATR           BITMAP       "res\\objects\\boatr.bmp"
IDB_O_BOATG           BITMAP       "res\\objects\\boatg.bmp"
IDB_O_BOATV           BITMAP       "res\\objects\\boatv.bmp"
IDB_O_BOATB           BITMAP       "res\\objects\\boatb.bmp"
IDB_O_BOATW           BITMAP       "res\\objects\\boatw.bmp"
IDB_O_BOATO           BITMAP       "res\\objects\\boato.bmp"
IDB_O_TEXT            BITMAP       "res\\flags\\text.bmp"
IDB_H_PLAYER          BITMAP       "res\\backgrounds\\player health.bmp"
IDB_H_OPPONENT        BITMAP       "res\\backgrounds\\opponent health.bmp"
IDB_T_START           BITMAP       "res\\backgrounds\\textstart.bmp"
IDB_T_INDICATOR       BITMAP       "res\\backgrounds\\pokeindicator.bmp"
IDB_T_MENU            BITMAP       "res\\backgrounds\\pokemenu.bmp"
IDB_T_MENU1           BITMAP       "res\\backgrounds\\pokemenu1.bmp"
IDB_T_MENUINDICATOR   BITMAP       "res\\backgrounds\\menuindicator.bmp"
IDB_T_BATTLE          BITMAP       "res\\backgrounds\\battlemenu.bmp"
IDB_B_BELL            BITMAP       "res\\backgrounds\\bells.bmp"
IDB_B_BEAM            BITMAP       "res\\backgrounds\\beam.bmp"
IDB_B_BALL            BITMAP       "res\\backgrounds\\spiritball.bmp"
IDB_T_BELL            BITMAP       "res\\backgrounds\\belltext.bmp"
IDB_T_SPIRIT          BITMAP       "res\\backgrounds\\spirittext.bmp"
IDB_T_BEAM            BITMAP       "res\\backgrounds\\beamtext.bmp"
IDB_O_TURN            BITMAP       "res\\backgrounds\\opponentturn.bmp"
IDB_T_BELL1           BITMAP       "res\\backgrounds\\belltext1.bmp"
IDB_T_SPIRIT1         BITMAP       "res\\backgrounds\\spirittext1.bmp"
IDB_T_BEAM1           BITMAP       "res\\backgrounds\\beamtext1.bmp"
IDB_T_SPIRIT2         BITMAP       "res\\backgrounds\\spirittext2.bmp"
IDB_G_WON             BITMAP       "res\\backgrounds\\gamewon.bmp"
IDB_G_START           BITMAP       "res\\backgrounds\\gamestart.bmp"
